<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gnet.app.orderGood.OrderGoodMapper" >
    <resultMap id="BaseOrderGoodMap" type="com.gnet.app.orderGood.OrderGood" >
        <id column="id" property="id" jdbcType="CHAR" />
		<result column="create_date" property="createDate" />
		<result column="modify_date" property="modifyDate" />
		<result column="order_id" property="orderId" jdbcType="CHAR"/>
		<result column="storage_goods_id" property="storageGoodsId" jdbcType="CHAR"/>
		<result column="order_goods_num" property="orderGoodsNum" jdbcType="INTEGER"/>
		<result column="discount_rate" property="discountRate" jdbcType="DECIMAL"/>
		<result column="strike_unit_price" property="strikeUnitPrice" jdbcType="DECIMAL"/>
		<result column="reserved_goods" property="reservedGoods" jdbcType="INTEGER"/>
		<result column="reserved_date" property="reservedDate" jdbcType="DATE"/>
		<result column="init_position" property="initPosition" jdbcType="VARCHAR"/>
		<result column="need_deliver_num" property="needDeliverNum" jdbcType="INTEGER"/>
		<result column="need_install_num" property="needInstallNum" jdbcType="INTEGER"/>
		<result column="out_goods_num" property="outGoodsNum" jdbcType="INTEGER"/>
		<result column="remark" property="remark" jdbcType="VARCHAR"/>
    </resultMap>
    
    <resultMap id="OrderGoodExtMap" type="com.gnet.app.orderGood.OrderGood" extends="BaseOrderGoodMap">
        <association property="good"  javaType="com.gnet.app.good.Good">  
            <result property="id" column="storage_goods_id"  jdbcType="VARCHAR" /> 
            <result property="name" column="good_name"  jdbcType="VARCHAR" /> 
            <result property="model" column="good_model"  jdbcType="VARCHAR" /> 
            <result property="price" column="good_price"  jdbcType="VARCHAR" /> 
            <result property="unit" column="good_unit"  jdbcType="VARCHAR" />
            <result property="specification" column="good_specification"  jdbcType="VARCHAR" />
            <association property="storageGoodStatus"  javaType="com.gnet.app.storageGoodStatus.StorageGoodStatus">
            	<result property="id" column="storage_goods_id"  jdbcType="VARCHAR" /> 
            	<result column="storeNow" property="good_store_now" jdbcType="DECIMAL"/>
            </association> 
            <association property="supplier"  javaType="com.gnet.app.supplier.Supplier">
            	<result property="id" column="storage_goods_id"  jdbcType="VARCHAR" /> 
            	<result column="name" property="supplier_name" jdbcType="DECIMAL"/>
            </association> 
        </association>
		<association property="order"  javaType="com.gnet.app.order.Order">
        	<result property="id" column="order_id"  jdbcType="VARCHAR" /> 
        </association> 
		
    </resultMap>
    
    
   
   <insert id="insertAllOrderGoods">
        insert into ykj_order_goods (id, create_date, modify_date, order_id, storage_goods_id, order_goods_num, discount_rate, strike_unit_price, reserved_goods, reserved_date, init_position, need_deliver_num, need_install_num, remark, out_goods_num) values
        <foreach collection="goods" item="good" separator=",">
            (uuid(), #{good.createDate}, #{good.modifyDate}, #{good.orderId}, #{good.storageGoodsId}, #{good.orderGoodsNum}, #{good.discountRate}, #{good.strikeUnitPrice}, #{good.reservedGoods}, #{good.reservedDate}, #{good.initPosition}, #{good.needDeliverNum}, #{good.needInstallNum}, #{good.remark}, #{good.outGoodsNum})
        </foreach>
   </insert>
      
   <update id="batchUpdateDeliverNum">
	   <foreach collection="ordersGoods" item="good" open="" separator=";" close="">
	   	update ykj_order_goods set modify_date = #{good.modifyDate}, need_deliver_num = #{good.needDeliverNum} where id = #{good.id}
	   </foreach>
   </update>
   
   <update id="updateAllOrderGoods">
        <foreach collection="goods" item="good" separator=";">
            update ykj_order_goods set modify_date = #{good.modifyDate}, order_goods_num = #{good.orderGoodsNum}, discount_rate = #{good.discountRate}, strike_unit_price = #{good.strikeUnitPrice},  reserved_goods = #{good.reservedGoods}, reserved_date = #{good.reservedDate}, init_position = #{good.initPosition}, need_deliver_num = #{good.needDeliverNum}, need_install_num = #{good.needInstallNum}, remark = #{good.remark}, out_goods_num = #{good.outGoodsNum} where id = #{good.id}
        </foreach>
   </update>
   
   <delete id="deleteByIds">
        delete from ykj_order_goods 
        where id in 
        <foreach collection="ids" index="index" item="id" open=" (" separator=" ," close=")">
            #{id}
        </foreach>
    </delete>
   
   <select id="selectAllUnderOrder" resultMap="BaseOrderGoodMap">
        select * from ykj_order_goods where order_id = #{orderId}
   </select>
   
   <select id="selectAllUnderOrderWithGoodInfo" resultMap="BaseOrderGoodMap">
        select yog.*, ysg.name good_name, ysg.model good_model, ys.supplier_name supplier_name from ykj_order_goods yog
        inner join ykj_storage_goods ysg on ysg.id = yog.storage_goods_id 
        inner join ykj_supplier ys on ys.id = ysg.supplier_id 
        where yog.order_id = #{orderId}
        order by yog.create_date asc
   </select>
   
   <select id="findAll" resultMap="BaseOrderGoodMap">
        select yog.*, ysg.name good_name, ysg.model good_model from ykj_order_goods yog
        inner join ykj_storage_goods ysg on ysg.id = yog.storage_goods_id 
        where yog.order_id = #{orderId}
        <if test="type == @com.gnet.app.orderService.OrderSer@TYPE_DELIVERY">
        and yog.need_deliver_num > 0
        </if>
        <if test="type == @com.gnet.app.orderService.OrderSer@TYPE_INSTALLATION">
        and yog.need_install_num > 0
        </if>
        <if test="orderList != null">
        <foreach item="orderItem" collection="orderList" open="order by " separator="," close="" >
        {orderItem}
        </foreach>
        </if>
   </select>
   
  <select id="selectAllList" resultMap="BaseOrderGoodMap">
        select yog.*, ysg.name good_name, ysg.model good_model from ykj_order_goods yog
        inner join ykj_storage_goods ysg on ysg.id = yog.storage_goods_id 
        where yog.order_id = #{orderId}
        <if test="type == @com.gnet.app.orderService.OrderSer@TYPE_DELIVERY">
        and yog.need_deliver_num > 0
        </if>
        <if test="type == @com.gnet.app.orderService.OrderSer@TYPE_INSTALLATION">
        and yog.need_install_num > 0
        </if>
   </select>
   
   <select id="needServiceNum" resultType="Integer">
   select count(1) from ykj_order_goods where order_id = #{orderId}
   <if test="type == @com.gnet.app.orderService.OrderSer@TYPE_DELIVERY">
   and need_deliver_num > 0
   </if>
   <if test="type == @com.gnet.app.orderService.OrderSer@TYPE_INSTALLATION">
   and need_install_num > 0
   </if>
   </select>
   
   <select id="goodsNum" resultType="Integer">
   select count(1) from ykj_order_goods where order_id = #{orderId}
   </select>
   
   <!-- 根据查询条件获取相应的订单商品信息 -->
   <select id="selectOrderGoodsAllWithDetailByCondition" resultMap="BaseOrderGoodMap" parameterType="com.gnet.app.orderGood.OrderGoodCondition">
   		select t.*,s.name goodName,s.model goodModel,s.specification goodSpecification,s.price goodPrice,w.store_now goodStoreNow,s.unit goodUnit,
   			(select a.value from sc_codeword a,sc_codeword_type b where b.id=a.codeword_type_id and a.code=s.unit and b.type_value = 'GOOD_UNIT') goodUnitName 
   		from ykj_order_goods t 
   		left join ykj_storage_goods s on t.storage_goods_id = s.id 
   		left join ykj_storage_goods_status w on w.id = t.storage_goods_id
   		<where>
   			<if test="orderId != null and orderId !=''">
   				and t.order_id = #{orderId}
   			</if>
   			<if test="businessId != null and businessId !=''">
   				and s.business_id = #{businessId}
   			</if>
   			<if test="storageGoodsId != null and storageGoodsId !=''">
   				and t.storage_goods_id = #{storageGoodsId}
   			</if>
   		</where>
   </select>
   
   <!-- 根据查询条件获取相应的订单商品信息 -->
   <select id="selectOrderGoodDetailsByCondition" resultMap="OrderGoodExtMap" parameterType="com.gnet.app.orderGood.OrderGoodCondition">
   		select t.*,s.name good_name,s.model good_model,s.specification good_specification,
   		s.price good_price,w.store_now good_store_now,s.unit good_unit,q.supplier_name 
   		from ykj_order_goods t 
   		JOIN ykj_order a ON a.id = t.order_id
   		left join ykj_storage_goods s on t.storage_goods_id = s.id 
   		left join ykj_storage_goods_status w on w.id = t.storage_goods_id
   		left join ykj_supplier q on q.id = s.supplier_id
   		<where>
   			<if test="orderId != null and orderId !=''">
   				and t.order_id = #{orderId}
   			</if>
   			<if test="businessId != null and businessId !=''">
   				and s.business_id = #{businessId}
   			</if>
   			<if test="storageGoodsId != null and storageGoodsId !=''">
   				and t.storage_goods_id = #{storageGoodsId}
   			</if>
   		</where>
   </select>
</mapper>