<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gnet.app.storageIn.StorageInMapper">
	<resultMap id="BaseStorageInMap" type="com.gnet.app.storageIn.StorageIn">
		<id column="id" property="id" jdbcType="CHAR" />
		<result column="create_date" property="createDate" />
		<result column="modify_date" property="modifyDate" />
		<result column="type" property="type" jdbcType="INTEGER" />
		<result column="business_id" property="businessId" jdbcType="CHAR" />
		<result column="clerk_id" property="clerkId" jdbcType="CHAR" />
		<result column="batch_number" property="batchNumber" jdbcType="VARCHAR" />
		<result column="change_date" property="changeDate" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
	</resultMap>

	<resultMap id="StorageInExtMap" type="com.gnet.app.storageIn.StorageIn"
		extends="BaseStorageInMap">
		<result column="type_name" property="typeName" jdbcType="VARCHAR" />
		<result column="in_total_num" property="inTotalNum" jdbcType="DECIMAL" />
		<result column="in_total_cost" property="inTotalCost" jdbcType="DECIMAL" />
		<association property="clerk"  javaType="com.gnet.app.clerk.Clerk">  
            <result property="name" column="clerk_name"/>  
        </association>
	</resultMap>


	<select id="selectStorageInHistoryDataListByCondition"
		resultMap="StorageInExtMap" parameterType="com.gnet.app.storageIn.StorageInCondition">
		SELECT
		t.*, s.name clerk_name, 
		(select sa.value from sc_codeword sa,sc_codeword_type sb 
		where sb.id=sa.codeword_type_id and sa.code=t.type and sb.type_value = 'STORAGE_IN_SOURCE') type_name,
		(select sum(w.num) from ykj_storage_in_detail w where w.storage_in_id = t.id) in_total_num,
		(select sum(w.cost) from ykj_storage_in_detail w where w.storage_in_id = t.id) in_total_cost
		FROM
		ykj_storage_in t
		LEFT JOIN ykj_clerk s ON t.clerk_id = s.id
		<where>
			<if test="type != null">
				and t.type = #{type}
			</if>
			<if test="businessId != null and businessId !='' ">
				and t.business_id = #{businessId}
			</if>
			<if test="clerkId != null and clerkId !='' ">
				and t.clerk_id = #{clerkId}
			</if>
			<if test="fuzzyBatchNumber != null and fuzzyBatchNumber !='' ">
				and t.batch_number like
				CONCAT('%',CONCAT(#{fuzzyBatchNumber},'%'))
			</if>
			<if test="storageInStartDate != null ">
				and t.change_date >= DATE_FORMAT(#{storageInStartDate},'%Y-%m-%d')
			</if>
			<if test="storageInEndDate != null ">
                <![CDATA[and t.change_date <= DATE_FORMAT(#{storageInEndDate},'%Y-%m-%d')]]>
			</if>
			<if test="goodId != null ">
				and exists(select 1 from ykj_storage_in_detail w where w.storage_in_id = t.id and w.storage_goods_id = #{goodId})
			</if>
		</where>
	</select>

</mapper>